{% extends "infosec/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Welcome | {{ block.super }}{% endblock %}

{% block contentarea %}
<h1>Contact Us</h1>
<div class="row">
  <div class="col-sm-7">
    <p>Please use the form below to send any suggestions, questions, or complaints to the club's primary email:</p>
    <form method="POST" action="">{% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-default" type="submit" value="Submit" />
    </form>
  </div>
  <div class="col-sm-5">
    <p>If instead you would like to contact a club officer directly, see the list below:</p>
    <h2>Brendan Higgins</h2>
    <p><img style="float:left; margin-right:35px" width="80" height="80" src="{{ spuser.photo.thumbnail.80x80 }}" /></p>
    <ul>
    <li>Role: President</li>
    <li>Major:</li>
    <li>About me:</li>
    <li>Contact:</li>
    </ul>
    <h2>Dillin Alexander</h2>
    <p><img style="float:left; margin-right:35px" width="80" height="80" src="{{ spuser.photo.thumbnail.80x80 }}" /></p>
    <ul>
    <li>Role: Vice President</li>
    <li>Major:</li>
    <li>About me:</li>
    <li>Contact: <a href="mailto:dillinalexander27@gmail.com">dillinalexander27@gmail.com</a></li>
    </ul>
    <h2>Janeth Quijada</h2>
    <p><img style="float:left; margin-right:35px" width="80" height="80" src="{{ spuser.photo.thumbnail.80x80 }}" /></p>
    <ul>
    <li>Role: Public Relations</li>
    <li>Major:</li>
    <li>About me:</li>
    <li>Contact: <a href="mailto:quijj301@coyote.csusb.edu">quijj301@coyote.csusb.edu</a></li>
    </ul>
    <h2>Stephanie Cisneros</h2>
    <p><img style="float:left; margin-right:35px" width="80" height="80" src="{{ spuser.photo.thumbnail.80x80 }}" /></p>
    <ul>
    <li>Role: Treasurer</li>
    <li>Major:</li>
    <li>About me:</li>
    <li>Contact: <a href="mailto:cisns301@coyote.csusb.edu">cisns301@coyote.csusb.edu</a></li>
    </ul>
    <h2>Matt Summerville</h2>
    <p><img style="float:left; margin-right:35px" width="80" height="80" src="{{ spuser.photo.thumbnail.80x80 }}" /></p>
    <ul>
    <li>Role: Secretary</li>
    <li>Major:</li>
    <li>About me:</li>
    <li>Contact: <a href="mailto:summervm@coyote.csusb.edu">summervm@coyote.csusb.edu</a></li>
    </ul>
  </div>
</div>
<h1>Previous Officers</h1>
<p>A special thanks to those who have served as an officer in the past. Good luck on your new cyber careers!</p>
<div class="row">
  <div class="col-md-3">
    <h2>2014-2015</h2>
    <ul>
    <li>Kenneth Johnson</li>
    <li>Victor Reyes</li>
    <li>Stacy Booth</li>
    <li>Tess Stewart</li>
    <li>James Bingman</li>
    </ul>
  </div>
  <div class="col-md-3">
    <h2>2013-2014</h2>
    <ul>
    <li>Erin Schulz</li>
    <li>James Ashley</li>
    <li>Cindy Todorovich</li>
    <li>Lesley Piper</li>
    <li>Azzar Nadvi</li>
    </ul>
  </div>
  <div class="col-md-3">
    <h2>2012-2013</h2>
    <ul>
    <li>?</li>
    </ul>
  </div>
  <div class="col-md-3">
    <h2>2011-2012</h2>
    <ul>
    <li>?</li>
    </ul>
  </div>
</div>
{% endblock %}
