{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}About | {{ block.super }}{% endblock %}

{% block content %}
<script type="text/javascript">
$(document).ready(function () {
    window.setTimeout(function () {
        location.href = "{% url 'about' %}";
    }, 5000);
});
</script>
<h1>Contact Us</h1>
<div class="alert alert-success" role="alert">Your mesage has been sent. You will be redirected to the <a href="{% url 'about' %}">about page</a> shortly.</div>
{% endblock %}
