{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% if add %}New Recurring Event{% else %}Edit Recurring Event{% endif %}{% endblock %}

{% block extrahead %}
<script type="text/javascript">
$(function() {
  $('#id_starts_on').focus();
})
</script>
{% endblock %}

{% block content %}
{% if add %}
<form action="{% url 'newrecurringevent' %}" method="post">
{% else %}
<form action="{% url 'editrecurringevent' eventid %}" method="post">
{% endif %}
{% csrf_token %}
{{ form|crispy }}
<div class="form-actions">
  {% if add %}
  <input type="submit" name="_submitadd" value="Add" class="btn btn-primary">
  {% else %}
  <input type="submit" name="_submitsave" value="Save" class="btn btn-primary">
  <input type="submit" name="_submitdelete" value="Delete" class="btn btn-danger">
  {% endif %}
</div>
</form>
{% endblock %}
