{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Events | {{ block.super }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'fullcalendar-2.4.0/fullcalendar.css' %}" />
<!-- We already have jQuery v1.11.3 included with bootstrap -->
<!-- <script src="{% static 'fullcalendar-2.4.0/lib/jquery.min.js' %}"></script> -->

<!-- Two standard scripts for FullCalendar -->
<script src="{% static 'fullcalendar-2.4.0/lib/moment.min.js' %}"></script>
<script src="{% static 'fullcalendar-2.4.0/fullcalendar.js' %}"></script>

<!-- Extra script needed to import any Google Calendars -->
<script type="text/javascript" src="{% static 'fullcalendar-2.4.0/gcal.js' %}"></script>

<script type="text/javascript">
function dir(obj) {
  var r = '';
  for (var propertyName in obj) {
    r += propertyName + ": " + obj[propertyName] + '\n';
  }
  return r;
}

function conv(t) {
  if (t == null) {
    return 0;
  }else{
    return new Date(t).toISOString();
  }
}

function clog(t) {
  document.getElementById('clog').innerHTML += '<pre>' + t + '</pre>';
}

$(document).ready(function() {
  handle_eventDrop = function(event, delta, revertFunc, jsEvent, ui, view) {
    if (event.end == null) {
      e = 'null';
    }else{
      e = event.end/1000;
    }
    $.ajax({
      url: "{% url 'eventmodify' %}",
      data: {
        id: event.id,
        newstart: event.start/1000,
        newend: e,
        allday: event.allDay
      },
      error: function(xhr, status, error) {
        revertFunc();
      }
    });
  }
  // page is now ready, initialize the calendar...
  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next title',
      center: '',
      right: 'month,agendaWeek,agendaDay today',
    },
    defaultView: 'month',
    //aspectRatio: 2,
    fixedWeekCount: true, // Always show months with 6 weeks, even if month has fewer
    timezone: false,
    defaultTimedEventDuration: '02:00:00',
    defaultAllDayEventDuration: {days: 1},
    businessHours: {
      start: '10:00',
      end: '18:00',
      dow: [1,2,3,4]
    },
    minTime: '09:00:00',
    maxTime: '19:00:00',
    slotDuration: '00:30:00',
    snapDuration: '00:15:00',
    contentHeight: 520,
    allDaySlot: true,     // Show all-day events in their own section above the rest (if false, they aren't shown at all)
    editable: {{ user.is_staff|yesno:"true,false" }},
    eventDrop: handle_eventDrop,
    eventResize: handle_eventDrop,

    {{ calendar_config_options|safe }}
  })
});
</script>

<link rel="stylesheet" href="{% static 'infosec/events.css' %}" />
{% endblock %}

{% block content %}
<h1>Event Calendar</h1>
<p>Items in <span class="calitem_red" style="font-size:16px">&nbsp;red&nbsp;</span> are being pulled in from the <a href="https://www.google.com/calendar/embed?src=csusb.infosec.club%40gmail.com&ctz=America/Los_Angeles">InfoSec Club's google calendar</a>. Items in <span class="calitem_blue" style="font-size:16px">&nbsp;blue&nbsp;</span> are from the website's internal database.</p>

<div id='calendar'></div>
{% endblock %}
