{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load contentblock_renderer %}
{% load staticfiles %}

{% block title %}Welcome | {{ block.super }}{% endblock %}

{% block content %}
{% load_contentblock 'home_part1' %}

<div class="row">
  <div class="col-md-6">
    {% load_contentblock 'home_part2' %}
  </div>
  <div class="col-md-6">
    <h2>News</h2>
    <p>(Work in progress)</p>
    <h2>Upcoming events</h2>
    <p>This is a preview of events in the next 7 days only. Visit our <a href="{% url 'events' %}">Events Page</a> for the full list.</p>
    <div class="panel panel-primary">
      <!-- Table -->
      <table class="table eventtable">
        <thead>
          <tr>
            <th width="120">Date</th>
            <th>Description</th>
            <th width="120">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr class='event_ours'>
            <td colspan="3">(Work in progress. Visit the <a href="{% url 'events' %}">main calendar page</a> instead.)</td>
          </tr>
        </tbody>
      </table>
    </div>
    <center><span class="eventlegend eventlegend_ours">green</span> = InfoSec Club Events&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="eventlegend eventlegend_acm">blue</span> = ACM Club Events</center>
  </div>
</div>
{% endblock %}
