{% extends "base.html" %}
{% load contentblock_renderer %}

{% block title %}Welcome | {{ block.super }}{% endblock %}

{% block content %}
{% load_contentblock 'home_part1' %}

<div class="row">
  <div class="col-md-6">
    {% load_contentblock 'home_part2' %}
  </div>
  <div class="col-md-6">
    <h2>Upcoming events</h2>
    <div class="panel panel-default">
      {% include 'home_eventpreview2.html' %}
      <div class='eventtablefooter'>View this list on its <a href="{% url 'eventspreview' %}">own page.</a> Visit our <a href="{% url 'events' %}">Events Page</a> for the full list.</div>
    </div>
  </div>
</div>
{% endblock %}
