{% load events_formatting %}
<table class="table eventtable">
  <thead>
    <tr>
      <th style="width:190px">Date</th>
      <th>Title</th>
      <th style="width:80px">Location</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr><td>{{ event.start|eventdate:event.all_day }}</td><td>{{event.title}}</td><td></td></tr>
    {% empty %}
    <tr><td colspan="3">No events in the next {{event_preview_days}} days.</td></tr>
    {% endfor %}
    <tr class='event_msg'><td colspan="3">{% if show_bookmark_link %}View this list on its <a href="{% url 'eventspreview' %}">own page.</a> {% endif %}Visit our <a href="{% url 'events' %}">Events Page</a> for the full list.</td></tr>
  </tbody>
</table>
