{% load staticfiles %}
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="{{ user.member.photo.thumbnail.20x20 }}" /> {{ user.member.get_short_name }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li style="text-align:center; font-weight:bold;"><a href="{% url 'userprofile' %}"><img src="{{ user.member.photo.thumbnail.100x100 }}" /><br>{{ user.member.get_full_name }}</a></li>
            <li class="divider"></li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'admin:index' %}" style="color:orange">Site Administration</a></li>
            {% endif %}
            <li><a href="{% url 'userprofile' %}">My Profile</a></li>
            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{% url 'auth_login' %}">Login</a></li>
        <li><a href="{% url 'registration_register' %}">Join</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
