{% load infosec %}
{% load staticfiles %}
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><img alt="Brand" src="{% static 'img/clublogo-infosec-md.png' %}" width="195" height="46" style='position:relative; top:-12px' /></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% generatenav %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="{{ user.photo.thumbnail.20x20 }}" /> {{ user.get_short_name }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li style="text-align:center; font-weight:bold;"><a href="{% url 'userprofile' %}"><img src="{{ user.photo.thumbnail.100x100 }}" /><br>{{ user.get_full_name }}</a></li>
            <li class="divider"></li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'admin:index' %}" style="color:orange">Site Administration</a></li>
            {% endif %}
            <li><a href="{% url 'userprofile' %}">My Profile</a></li>
            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{% url 'auth_login' %}">Login</a></li>
        <li><a href="{% url 'registration_register' %}">Join</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
