{% load staticfiles %}
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><img alt="Brand" src="/static/img/infoseclogo.png" width="195" height="46" style='position:relative; top:-12px' /></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        <li class=""><a href="{% url 'calendar' %}">Calendar</a></li>
        <li class="dropdown"><!--Projects-->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Pen Test Network</a></li>
            <li><a href="#">Raspberry Pi security system</a></li>
            <li class="divider"></li>
            <li><a href="#">Start a project</a></li>
          </ul>
        </li>
        <li class="dropdown"><!--Competitions-->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Competitions <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'pagemd' 'competition_ccdc' %}">CCDC</a></li>
            <li><a href="{% url 'pagemd' 'competition_ncl' %}">NCL</a></li>
            <li><a href="{% url 'pagemd' 'competition_itc' %}">ITC</a></li>
            <li><a href="{% url 'pagemd' 'competition_nw' %}">NetWars</a></li>
            <li><a href="{% url 'pagemd' 'competition_cp' %}">Cyber Patriot</a></li>
          </ul>
        </li>
        <li><a href="#">Wiki</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="{{ user.member.photo.thumbnail.20x20 }}" /> {{ user.member.get_short_name }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li style="text-align:center; font-weight:bold;"><a href="{% url 'userprofile' %}"><img src="{{ user.member.photo.thumbnail.100x100 }}" /><br>{{ user.member.get_full_name }}</a></li>
            <li class="divider"></li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'admin:index' %}" style="color:orange">Site Administration</a></li>
            {% endif %}
            <li><a href="{% url 'userprofile' %}">My Profile</a></li>
            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{% url 'auth_login' %}">Login</a></li>
        <li><a href="{% url 'registration_register' %}">Join</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
