{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load customfilters %}

{% block title %}Profile | {{ block.super }}{% endblock %}

{% block content %}
<h1>User Profile</h1>

{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}

<legend>Memberships</legend>
<div class="panel panel-default">
<table class="membership">
  {% for membership in membershiplist %}
  <tr class="{% if membership.is_active %}membershipactive{% else %}membershipexpired{% endif %}">
    <td class="membershiplogo">{% if membership.club.logo_small %}<img src="{% static membership.club.logo_small %}" />{% else %}{{ membership.club.name_short }}{% endif %}</td>
    {% if membership.is_active %}
    <td>{% if membership.paid_amount %}You paid <b>{{ membership.paid_amount|currency }}</b>{% else %}You joined{% endif %} on {{ membership.paid_date }}, and your membership is <span class="membershiphilight">active until {{ membership.paid_until_date }}</span>.</td>
    {% else %}
    <td>You membership to this club expired on {{ membership.paid_until_date }}. To get more information about joining, visit the <a href="{% url 'pagemd' 'membership' %}">membership information page</a>.</td>
    {% endif %}
  </tr>
  {% empty %}
  <tr>
    <td>You are not a member of any club.</td>
  </tr>
  {% endfor %}
</table>
</div>

{% crispy form %}
{% endblock %}
