#Django~=1.8.0	# Don't automatically update Django to 1.9, since that would require extensive testing
Django<1.8.16	# Their security fix for CVE-2016-9014 requires us now to always specify ALLOWED_HOSTS. But how do we then make the development settings file generic for the various developers?
CommonMark<0.6	# Holding this one back due to undiagnosed errors in v0.6
django-registration-redux<1.4	# Holding this one back due to conflicts with their commit eb8fb0f29f on 2/19/16
