CommonMark~=0.5.4
Django~=1.8.0
django-admin-bootstrapped
django-crispy-forms
django-mailer
django-model-utils
django-quiz-app
django-registration-redux
django-versatileimagefield
html2text
lockfile
pbr
Pillow
uWSGI
wheel
