CommonMark==0.5.4
Django==1.8.5
django-admin-bootstrapped==2.5.6
django-crispy-forms==1.5.2
django-mailer==1.1
django-registration-redux==1.2
django-versatileimagefield==1.1
html2text==2015.11.4
lockfile==0.12.2
Pillow==3.0.0
sqlparse==0.1.18
uWSGI==2.0.11.2
