{% extends "simplecenter.html" %}
{% load crispy_forms_tags %}

{% block content2 %}
<h1>Login</h1>

<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}
  <input class='btn btn-block btn-primary' type="submit" value="Login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<hr/>

<p>Forgot your password? <a href="{% url 'auth_password_reset' %}">Reset it.</a></p>
<p>Not a member? <a href="{% url 'registration_register' %}">Register now.</a></p>
{% endblock %}
