{% extends "base_simple.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}Join the Club{% endblock %}

{% block content2 %}
{% addtoblock "css" %}
  <style>
  .username_taken {
    color:#a94442 !important;
  }
  .username_available {
    color:green !important;
  }
  .username_checking {
    color:silver !important;
  }
  </style>
{% endaddtoblock %}
{% addtoblock "js" %}
  <script type="text/javascript">
  var usernameblock;
  var usernameinput;
  var usernamecheck;

  $(function() {
    usernameblock = $('#div_id_username');

    usernameinput = $('#id_username');
    usernameinput.on('blur', checkusername);

    usernamecheck = $('#error_1_id_username');
    if (usernamecheck.length==0) {
      usernamecheck = $('<span></span>');
      usernamecheck.insertAfter(usernameinput);
    }
  });
  function checkusername() {
    var u = usernameinput.val();
    if (u.length>0) {
      usernamecheck.attr('class', 'help-block username_checking');
      usernamecheck.html('<b>Checking...</b>');

      $.get(
        "/accounts/register/check/",
        {username: u},
        function(response) {
          if (response==='1') {
            usernamecheck.attr('class', 'help-block username_taken');
            usernamecheck.html('<b>Another member with that username already exists.</b>');
          }else if (response==='0') {
            usernamecheck.attr('class', 'help-block username_available');
            usernamecheck.html('<b>Username is available! :)</b>');
          }
        }
      );
    }else{
      usernamecheck.html('');
    }
  }
  </script>
{% endaddtoblock %}

<h1>Join the Club</h1>

{% crispy form %}

<hr>

<p>Already a member? <a href="{% url 'auth_login' %}">Login.</a></p>
{% endblock %}
