{% extends "base.html" %}
{% load sekizai_tags i18n wiki_tags %}

{% block title %}Wiki{% endblock %}

{% block content %}
  {% addtoblock "css" %}
    <link href="{{ STATIC_URL }}wiki/bootstrap/css/wiki-bootstrap.min.css" rel="stylesheet">
  {% endaddtoblock %}
  {% addtoblock "js" %}
    <script src="{{ STATIC_URL }}wiki/js/core.js"></script>
  {% endaddtoblock %}

  {% block wiki_body %}
    {% if messages %}
      <!-- Messages for this instance -->
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <!-- Reserved for breadcrumbs -->
    {% block wiki_breadcrumbs %}{% endblock %}

    <!-- Main page contents go here -->
    {% block wiki_contents %}{% endblock %}
  {% endblock %}
{% endblock %}

{% block extrafooter %}{% block wiki_footer_prepend %}{% endblock %}{% endblock %}
