{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Labs | {{ block.super }}{% endblock %}

{% block content %}
			<h2>
				Labs
			</h2>

			<p>As part of your club membership, you get to participate in our near-weekly Labs. These are a great way to learn new skills and meet the rest of the club.</p>

			<p><i>Fall 2015 - <strong>Tentative Schedule</strong></i></p>

			<table>
				<tr>
					<th>Date</th>
					<th>Topic</th>
					<th>Location</th>
					<th>Time</th>
					<th>Host</th>
				</tr>

				<tr>
					<td>Oct 2</td>
					<td>Beginner Linux</td>
					<td>JBH-358/JBH-359</td>
					<td>1:00 PM</td>
					<td>Juan Nevares</td>
				</tr>

				<tr>
					<td>Oct 9</td>
					<td>Advanced Linux</td>
					<td>JBH-358/JBH-359</td>
					<td>1:00 PM</td>
					<td>Juan Nevares</td>
				</tr>

				<tr>
					<td>Oct 16</td>
					<td>Version Control, Git</td>
					<td>JBH-358/JBH-359</td>
					<td>TBA</td>
					<td>TBA</td>
				</tr>

				<tr>
					<td>Oct 23</td>
					<td>vim</td>
					<td>JBH-358/JBH-359</td>
					<td>TBA</td>
					<td>TBA</td>
				</tr>

				<tr>
					<td>Oct 30</td>
					<td>*INTERAVTIVE</td>
					<td>TBA</td>
					<td>TBA</td>
					<td>TBA</td>
				</tr>

				<tr>
					<TD>Nov 6</td>
					<td>NONE (CSE Department Open House)</td>
					<td>NA</td>
					<td>NA</td>
					<td>NA</td>
				</tr>

				<tr>
					<td>Nov 13</td>
					<td>MakeFile</td>
					<td>JBH-358/JBH-359</td>
					<td>TBA</td>
					<td>TBA</td>
				</tr>
			</table>

			<p><strong>Past Labs</strong></p>

			<p>We keep our past lab documents available for those who were unable to attend the lab when it was given.</p>

			<p><i>Spring 2015</i></p>

			<table>
				<tr>
					<th>Date</th>
					<th>Topic</th>
					<th>Host</th>
				</tr>

				<tr>
					<td>May 8, 2015</td>
					<td>Soldering</td>
					<td>Ammar Alsibai</td>
				</tr>
				<tr>
					<td>May 8, 2015</td>
					<td>Python</td>
					<td>Anthony Sterrett</td>
				</tr>

				<tr>
					<td>May 15, 2015</td>
					<td>Beginner Linux Tutorial</td>
					<td>Andrew Brinker</td>
				</tr>
				<tr>
					<td>May 15, 2015</td>
					<td>Advanced Linux Tutorial</td>
					<td>Andrew Brinker</td>
				</tr>

				<tr>
					<td>May 22, 2015</td>
					<td>Rust</td>
					<td>Andrew Brinker</td>
				</tr>
				<tr>
					<td>May 22, 2015</td>
					<td>Security</td>
					<td>InfoSec Club</td>
				</tr>

				<tr>
					<td>May 29, 2015</td>
					<td>Test-driven Development</td>
					<td>Dylan Allbee</td>
				</tr>
				<tr>
					<td>May 29, 2015</td>
					<td>Debugging</td>
					<td>Mike Korcha</td>
				</tr>

				<tr>
					<td>June 5, 2015</td>
					<td>Algorithmic Complexity</td>
					<td>Andrew Brinker</td>
				</tr>
				<tr>
					<td>June 5, 2015</td>
					<td>Benchmarking</td>
					<td>Dylan Allbee</td>
				</tr>
			</table>

			<p><i>Fall 2014</i></p>

			<table>
				<tr>
					<th>Date</th>
					<th>Topic</th>
					<th>Host</th>
					<th>Link</th>
				</tr>
				<tr>
					<td>October 24, 2014</td>
					<td>Python Programming</td>
					<td>Mike Korcha</td>
					<td><a href="/labs/files/10242014-python.pdf">PDF</a></td>
				</tr>
				<tr>
					<td>October 31, 2014</td>
					<td>Soldering</td>
					<td>Ammar Alsibai</td>
					<td><a href="/labs/files/10312014-soldering.pdf">PDF</a></td>
				</tr>
				<tr>
					<td>November 14, 2014</td>
					<td>Haskell</td>
					<td>Andrew Brinker</td>
					<td><a href="/labs/files/11142014-haskell.pdf">PDF</a></td>
				</tr>
				<tr>
					<td>November 21, 2014</td>
					<td>Arduino Programming</td>
					<td>Ammar Alsibai</td>
					<td><a href="/labs/files/11212014-arduino.pdf">PDF</a></td>
				</tr>
				<tr>
					<td>March 6, 2015</td>
					<td>Introduction to Debugging</td>
					<td>Mike Korcha</td>
					<td><a href="/labss/files/03062015-debugging.pdf">PDF</a></td>
				</tr>
			</table>
{% endblock %}
