{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Projects | {{ block.super }}{% endblock %}

{% block content %}
      <h2>
          Projects
      </h2>

      <p>As part of a project team, you'll be tackling challenging engineering problems under the guidance of a knowledgeable team leader. You'll learn how to apply the knowledge you've learned in the classroom in real world situations, all while you're making new friends and building connections.</p>

      <p>If you'd like to see more projects, feel free to <a href="/index.html#contact">contact us</a> with suggestions. We're always looking for new and exciting projects to bring to the club!</p>

      <p><strong>How to participate</strong></p>

      <p>To join a project, email the team leader with "&lt;project name&gt; - Join Request" in the subject line. In the body, be sure to include your name, student ID, why you are interested in the project, and any relevant skills or experience you may have.</p>

	  <p><strong>Quadrotor Project</strong></p>

      <p>Build and control a quadrotor drone from the ground up. The goal of the project is to get a quadrotor up in the air and doing various types of tasks with machine vision.</p>

      <table>
        <tr>
          <td>Team Leader</td>
          <td>Sean Hamilton
        </tr>
        <tr>
          <td>Officer Contact</td>
          <td>None
        </tr>
        <tr>
          <td>Technologies</td>
          <td>Python, C, ardulMU</td>
        </tr>
        <tr>
          <td>Skills</td>
          <td>Script Programming, Embedded Systems Programming, Machine Vision, Circuit Analysis, Control Theory, Version Control</td>
        </tr>
      </table>

      <!--<p><strong>Datamancer Website Project</strong></p>

      <p>Build an eCommerce website for Datamancer to act as a front-end for their business. This brings challenges associated with enormous traffic loads and "Big Data", as well as enterprise level security.</p>

      <table>
        <tr>
          <td>Team Leader/Officer Contact</td>
          <td>INACTIVE
        </tr>

        <tr>
          <td>Technologies</td>
          <td>D, MongoDB, Sass/CSS, JavaScript, HTML5</td>
        </tr>
        <tr>
          <td>Skills</td>
          <td>Website Design, Caching Techniques, Code Optimization, Security, Document-Oriented Database Design, Version Control, Documentation</td>
        </tr>
      </table>-->
{% endblock %}
