{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Tabling | {{ block.super }}{% endblock %}

{% block content %}
      <h2>Tutoring Sign In</h2>

      <p>Please make sure to sign in each time you recieve tutoring for our records.</p>

      <p><strong>Inactive - Updating</strong></p>

      <!--<form method="post" action="/tutoring/process.php">
        <label for="name">Name: </label><br />
          <input type="text" name="name" id="name" /><br />
          <br />

        <label for="tutor">Tutor: </label><br />
          <select name="tutor" id="tutor">
            <option value="Andrew Brinker">Andrew Brinker</option>
            <option value="Alejandro Lazo">Alejandro Lazo</option>
            <option value="Tim Castle">Tim Castle</option>
          </select><br />
          <br />

        <label for="classes">Class(es): </label><br />
          <input type="text" name="classes" id="classes" /><br />
          <br />

        <label for="cid">I am a CSE Club member </label>
          <input type="checkbox" name="member" id="member" /><br />
          <br />


        <input type="submit" value="Submit" />
	</form>-->
{% endblock %}
