body {
  margin-top:60px;
  line-height:1.5;
}
h1, .h1 {
  font-size:30px;
  border-bottom-style:solid;
  border-image:linear-gradient(to right, rgba(82,159,202,255), rgba(82,159,202,255) 40%, rgba(0,0,0,0) 80%) 1;
  border-width:0px 0px 2px 0px;
  padding-bottom:2px;
}
h2, .h2 {
  font-size:22px;
  border-bottom-style:solid;
  border-image:linear-gradient(to right, rgba(176,176,176,255), rgba(176,176,176,255) 40%, rgba(0,0,0,0) 50%) 1;
  border-width:0px 0px 1px 0px;
  padding-bottom:1px;
}
h3, .h3 {
  font-size:16px;
  font-style:italic;
}
h4, .h4 {
  font-size:14px;
  font-style:italic;
}

legend {
  border-bottom-style:solid;
  border-image:linear-gradient(to right, rgba(176,176,176,255), rgba(176,176,176,255) 40%, rgba(0,0,0,0) 50%) 1;
  border-width:0px 0px 1px 0px;
  padding-bottom:1px;
}

blockquote {
  font-size:14px;
  border-left:4px solid #DDD;
  padding:0 15px;
  color:#777
}

.dropdown-header {
  text-align:center;
  font-style:italic;
}

.eventtable>thead>tr>th {
  border-bottom:1px solid #337ab7;
}
.eventtable>tbody>tr>td {
  border-top:1px solid #337ab7;
}

tr.event_generic td {
  background-color:white;
}
tr.event_ours td, .eventlegend_ours {
  background-color:#B6D7A8;
}
tr.event_acm td, .eventlegend_acm {
  background-color:#CFE2F3;
}
tr.event_external td {
  background-color:#F9F9F9;
}

.eventlegend {
  padding:3px;
}

/* Fix the incorrect styling from versatileimagefield, and make it like the other fields */
div.versatileimagefield {
  float:none !important;
  clear:none !important;
  display:inline-block !important;
}

.readonlypasswordhashwidget {
  border:none;
  box-shadow:none;
  color:silver;
  height:initial;
}

.membership td {
  padding:0.5em;
}
.membershipexpired {
  color:silver;
}
.membershipexpired img {
  opacity:0.2;
}
.membershiplogo {
  width:220px;
  text-align:center;
}
.membershiphilight {
  font-weight:bold;
  color:green;
}

.form-actions {
  position:fixed;
  bottom:10px;
  right:10px;
}

.showresizehandle {
  resize:horizontal;
  overflow:auto;
}

.editableblock {
  border:1px dashed transparent;
}
.editableblock:hover {
  border-color:#FFBE34;
}
.editblockbutton {
  position:fixed;
  display:none;
  color:black;
  background-color:#FFF6E3;
  border-bottom:1px dashed #FFBE34;
  border-right:1px dashed #FFBE34;
  border-bottom-right-radius:5px;
  padding:3px 5px 3px 5px;
  font-size:8pt;
  font-style:italic;
  line-height:1;
}
.editableblock:hover .editblockbutton {
  display:block;
}
